<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
	  	<add key="Application Title" value="Electronic Informed Consent Form" />
      	<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" />
		<add key="LiveHelpURL" value="https://hostedusa5.whoson.com/chat/chatstart.htm?domain=www.epharmasolutions.com" />
		<add key="MicoServerPath" value="c:\RemoteSource\Source\" />
		<add key="SponsorName" value="Takeda" />
		<add key="StudyName" value="Convene" />	
		<add key="VideoLink" value="C:\eicf\Intro to HLP tablet video EXPORT.mp4" />	
		<add key="SiteUrl" value="https://uat-takeda.epharmasolutions.com/global/ctp/study/NaltrexBuprop" />		
		<add key="SharePointUser" value="Form.Authentication" />
		<add key="SharePointPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVkekI/ypEkiayA8HVL2CsAAAAAACAAAAAAADZgAAwAAAABAAAACnLBJgIJAKkOESuMnvLRipAAAAAASAAACgAAAAEAAAAHDijMSIqTk/gHEQ/jgFl40YAAAAak1+4wdiryDXc2Zw/7GBQpA1nORtmDY+FAAAABT5u1e+fYhjDxLpdUKsTxmDv1vS" />
		<add key="MicoServerUser" value="sbeales" />
		<add key="MicoServerPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVkekI/ypEkiayA8HVL2CsAAAAAACAAAAAAADZgAAwAAAABAAAACxlczv/Fcw4yn4rcrmcmxoAAAAAASAAACgAAAAEAAAAOeX9LlIzcVR1KnrLgjqquIYAAAA/DdZIU/1aQ7CHUcz6X8zG7vpe4mc9YvoFAAAAFTuSgYZt5yBmxuz1M/kh7NEXfFC" />
		<add key="TestUser" value="SiteUser.Stasy" />
		<add key="TestFirstName" value="Stasy" />
		<add key="TestLastName" value="SiteUser" />
		<add key="BackupPath" value="d:\backup\" />
    </appSettings>
</configuration>	