<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
   <connectionStrings>
      <add name="LearnConnection"
      	connectionString="Server=PRODSQL10\PRODSQL10,1433;Database=prod_cTPLearn_01;User Id=prodmicopasswordchange01; Password=766O87594R9ygNw66wpO;"/>       
  </connectionStrings>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="BasicHttpBinding_IService" />
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://miforms.epharmasolutions.com/MiFormsIntegrationService/Integration.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
            contract="PasswordServiceReference.IService" name="BasicHttpBinding_IService" />
      </client>
   </system.serviceModel>

  <appSettings>
      <add key="Interval" value="60000"/>
      <add key="Customer" value="ePS"/>
      <add key="MicoServiceAccount" value="TemplateAdmin"/>
      <add key="MicoServicePassword" value="TxYcXuEQ3qefA9SH"/>
  </appSettings>
</configuration>